.nairobi-pavilion{
    background-image: url(images/balcony.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/balcony.jpg);
    height: 100vh;
    width: 100%;

}
  
.accra-pavilion{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/decoration-table.jpg);
    height: 100vh;
    width: 100%;
}
.zanzibar-pavilion{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/dinning-table.jpg);
    width: 100%;
    
}
.events{
    display: flex;

}
body{
    margin: 0;
    overflow-x: hidden;
}
.ankole-logo{
    position: absolute;
    top: 20px;
    left: 45%;
    height: 200px;
    z-index: 10;
    width: 200px;
}
.nairobi-pavilion h1{
    font-size: 40px;
    position: relative;
    left: 00px;
    text-align: center;
    top:300px;
    color: rgb(255, 123, 0);
    font-weight: bolder;
}
.nairobi-pavilion p{
    position: relative;
    font-size: 20px;
    left: 0px;
    top:310px;
    text-align: center;
    color: rgb(202, 201, 197);
    font-weight: bolder;
}
.accra-pavilion h1{
    font-size: 40px;
    position: relative;
    left: 00px;
    text-align: center;
    top:300px;
    color: rgb(255, 123, 0);
    font-weight: bolder;
}
.accra-pavilion p{
    position: relative;
    font-size: 20px;
    left: 0px;
    top:310px;
    text-align: center;
    color: rgb(202, 201, 197);
    font-weight: bolder;
}
.zanzibar-pavilion p{
    position: relative;
    font-size: 20px;
    left: 0px;
    top:310px;
    text-align: center;
    color: rgb(202, 201, 197);
    font-weight: bolder;
}
.zanzibar-pavilion h1{
    font-size: 40px;
    position: relative;
    left: 00px;
    text-align: center;
    top:300px;
    color: rgb(255, 123, 0);
    font-weight: bolder;
}

  @media (max-width: 602px){

    .events{
        display: flex;
        flex-direction: column;
    }

      .ankole-logo{
        width: 100px;
        height: 100px;
      }

  }

  .navlink{
    position: relative;
    top:15px
  }
  nav i{
    position: relative;
    top:15px
  }
  
  header{
    position: fixed;
    bottom: 5%;
    width: 43%;
    background-color: black;
    border-radius: 40px;
    margin: 0 25%; 
    z-index: 1;
    height: 80px;
    justify-content: right;
    align-items: left;
  
    nav {
        display: flex;
        align-items: center;
        gap:14px;
        width: 100%;
  
  
        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
            padding: 15px;
            font-weight: bolder;
            font-size: 17px;
        }
  
        a:last-child {
            background-color: gray;
            border-radius: 50px;
        }
  
        a:last-child:hover {
            background-color: white;
            color: black;
        }
  
        a:hover {
            color: gray;
        }
  
        i {
            color: gray;
            padding: 15px;
            font-size: 20px;
            position: relative;
            cursor: pointer;
        }
  
        .menu-toggle{
            position: relative;
            display: inline-block;
  
            .vertical-menu {
                display: none;
                position: absolute;
                bottom: 4em;
                left: 0;
                width: 14em;
                background-color: black;
                color: white;
                padding: 0.5em 1em;
                border-radius: 20px;
                z-index: 1;
                text-align: start;
        
                a {
                    border-bottom: 1px solid gray;
                    display: block;
                    text-decoration: none;
                    padding: 0.75em 1em;
                }
        
                a:last-child {
                    background-color: unset;
                    border-radius: unset;
                }
        
                a:last-child:hover {
                    color: gray;
                }
            }
  
            .vertical-menu.show{
                display: block;
            }
        }
  
        
  
    }
  
  }
  #menu{
    text-decoration: none;
    color: white;
    background-color: rgb(29, 28, 28);
    /* padding: 8px 14px; */
    transition: 0.3s ease;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
  }
  #menu:hover{
    color: gray;
  }
  
  
  @media  screen and (max-width: 700px)  {
  
  
    header{
        width: 80%;
        margin: 0 10%;
    }
    header nav a:not(:last-child){
        display: none;
    }
  
  
  }
  @media only screen and (max-width:1350px) and (min-width:751px){
    header{
      margin-left: 0;
      gap:0px;
      justify-content: start;
  
    }
    .icons{
      display: flex;
      flex-direction: column;
  
    }
    header{
      position: fixed;
      bottom: 5%;
      width: 95%;
      background-color: black;
      border-radius: 40px;
      margin: 0 1%; 
      z-index: 1;
      height: 80px;
  
    
      nav {
          display: flex;
          align-items: center;
          gap:1px;
          width: 100%;
    
    
          a {
              text-decoration: none;
              color: white;
              cursor: pointer;
              padding: 15px;
              font-weight: bolder;
              font-size: 17px;
          }
        }
  }
  }
  