.nairobi-pavilion{
    background-image: url(images/balcony.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/balcony.jpg);
    height: 100vh;
    width: 100%;

}
  
.accra-pavilion{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/decoration-table.jpg);
    height: 100vh;
    width: 100%;
}
.zanzibar-pavilion{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/dinning-table.jpg);
    width: 100%;
    
}
.events{
    display: flex;

}
body{
    margin: 0;
    overflow-x: hidden;
}
.ankole-logo{
    position: absolute;
    top: 20px;
    left: 45%;
    height: 200px;
    z-index: 10;
    width: 200px;
}
.nairobi-pavilion h1{
    font-size: 40px;
    position: relative;
    left: 00px;
    text-align: center;
    top:300px;
    color: rgb(255, 123, 0);
    font-weight: bolder;
}
.nairobi-pavilion p{
    position: relative;
    font-size: 20px;
    left: 0px;
    top:310px;
    text-align: center;
    color: rgb(202, 201, 197);
    font-weight: bolder;
}
.accra-pavilion h1{
    font-size: 40px;
    position: relative;
    left: 00px;
    text-align: center;
    top:300px;
    color: rgb(255, 123, 0);
    font-weight: bolder;
}
.accra-pavilion p{
    position: relative;
    font-size: 20px;
    left: 0px;
    top:310px;
    text-align: center;
    color: rgb(202, 201, 197);
    font-weight: bolder;
}
.zanzibar-pavilion p{
    position: relative;
    font-size: 20px;
    left: 0px;
    top:310px;
    text-align: center;
    color: rgb(202, 201, 197);
    font-weight: bolder;
}
.zanzibar-pavilion h1{
    font-size: 40px;
    position: relative;
    left: 00px;
    text-align: center;
    top:300px;
    color: rgb(255, 123, 0);
    font-weight: bolder;
}
nav{
    position: fixed;
    bottom: 20px;
    width: 45.5%;
    color: rgb(255, 255, 255);
    left: 27%;
    display: flex;
    justify-content: right;
    background-color: rgb(14,14,14);
    border-radius: 25px;
    /* padding: 0px 10px; */
    z-index: 10;
    border-radius: 30px;
    /* max-width: 1000px; */
    height: 70px;
  }
  #reserve{
    text-decoration: none;
    color: white;
    background-color: rgb(24, 23, 23);
    /* padding: 8px 14px; */
    border-radius: 10px;
    transition: 0.3s ease;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  #reserve:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
  }
  #clock{
    position:absolute;
    bottom: 30px;
    left: 29.9%;

    color: rgb(117, 116, 116);
    padding: 10px;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
    z-index: 2001;
  }
  ul{
    display: flex;
    justify-content: space-between;
    gap:10px;
    padding: 0;
    list-style: none;
    align-items: center;
    padding: 10px;
    margin: 0;
  }
   li a{
    text-decoration: none;
    color:lightgray;   
    /* padding: 8px 14px; */
    border-radius: 1px;
    transition: 0.3s ease;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  li a:hover{
    color: gray;
  }
  .hamburger {
    position: fixed;
    bottom: 30px;
    left: 27.3%;
    color: rgb(105, 105, 105);
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    z-index: 1001;
    }
    .hamburger i{
        font-size: 30px;
      }
    
  @media (max-width: 602px){
    .hamburger {
        display: block;
        color: white;
      }
    .events{
        display: flex;
        flex-direction: column;
    }
    #clock{
        display: none;
      }
      nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #111;
        width: 80%;
        border-radius: 15px;
        padding: 15px 0;
      }
      nav ul.active {
        display: flex;
      }
      nav ul li {
        margin: 10px 0;
      }
      nav ul li a {
        width: 100%;
        display: block;
      }
      .ankole-logo{
        width: 100px;
        height: 100px;
      }

  }