body{
    overflow-x: hidden;
}
.live-section{
    background-image: url(images/Ankore-inside.jpg);
    height: 130vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -16px;
    overflow-y: scroll;
    overflow-x: hidden;

    
}
.live-text h1{
    position: absolute;
    top:20px;

}
.live-text p{
    position: absolute;
    top: 10px;
}


.live-img1{
    width: 100%;
    height: 100;
    position: absolute;

}

.live-img1 img{
    width: 50%;
    height: 30%;
}
.live-img2 img{
    width: 100px;
    height: 100px;
}
.live1{

    width: 30%;
    height: 35vh;
    position: relative;
    top:100px;
    left:60%;

}
.live1 a{
  text-decoration: none;
}
.live2 a{
  text-decoration: none;
}
.live3 a{
  text-decoration: none;
}
.live-details1{
    width: 100%;
    color: wheat;
    position: relative;
    left: 300px;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.live-img2{
    width: 100%;
    height: 100;
    position: absolute;

}

.live-img2 img{
    width: 50%;
    height: 30%;
}

.live2{

    width: 30%;
    height: 35vh;
    position: relative;
    top:100px;
    left:60%;

}
.live-details1{
    width: 100%;
    color: wheat;
    position: relative;
    left: 300px;
}
/* live3 */
.live-img3{
    width: 100%;
    height: 100;
    position: absolute;

}

.live-img3 img{
    width: 50%;
    height: 30%;
}

.live3{

    width: 30%;
    height: 35vh;
    position: relative;
    top:100px;
    left:60%;

}
.live-details1{
    width: 100%;
    color: rgb(255, 255, 255);
    position: relative;
    left: 300px;
}
nav{
    position: fixed;
    bottom: 40px;
    width: 45.5%;
    color: rgb(255, 255, 255);
    left: 2%;
    display: flex;
    justify-content: right;
    background-color: rgb(14,14,14);
    border-radius: 25px;
    /* padding: 0px 10px; */
    z-index: 10;
    border-radius: 30px;
    /* max-width: 1000px; */
    height: 70px;
  }
  #reserve{
    text-decoration: none;
    color: white;
    background-color: rgb(167, 163, 163);
    /* padding: 8px 14px; */
    border-radius: 20px;
    transition: 0.3s ease;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  #reserve:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
  }
  #clock{
    position:absolute;
    bottom: 54px;
    left: 4.9%;
    position: fixed;

    color: rgb(117, 116, 116);
    padding: 10px;
    border-radius: 50%;
    font-size: 21px;
    cursor: pointer;
    z-index: 2001;
  }

  #menu{
    text-decoration: none;
    color: white;
    background-color: rgb(29, 28, 28);
    /* padding: 8px 14px; */
    transition: 0.3s ease;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  ul{
    display: flex;
    justify-content: space-between;
    gap:10px;
    padding: 0;
    list-style: none;
    align-items: center;
    padding: 10px;
    margin: 0;
  }
   li a{
    text-decoration: none;
    color:lightgray;   
    /* padding: 8px 14px; */
    border-radius: 1px;
    transition: 0.3s ease;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  li a:hover{
    color: gray;
  }
  .hamburger {
    position: fixed;
    bottom: 52px;
    left: 2.5%;
    color: rgb(105, 105, 105);
    padding: 10px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: lighter;
    cursor: pointer;
    z-index: 1001;
    }

  .ankole-logo{
    position: absolute;
    top: 20px;
    left: 25%;
    height: 200px;
    z-index: 10;
    width: 200px;
    position: fixed;
}
@media (max-width: 602px){
    .live-img2 img{
        width: 100%;
        height: 50%;

    }
    .live-img1 img{
        width: 100%;
        height: 50%;
        position: relative;
        top:200px;
    }
    .live-img3 img{
        width: 100%;
        height: 50%;
    }
    nav{
        position: fixed;
        bottom: 2px;
        width: 45.5%;
        color: rgb(255, 255, 255);
        left: 27%;
        display: flex;
        justify-content: right;
        background-color: rgb(14,14,14);
        border-radius: 25px;
        /* padding: 0px 10px; */
        z-index: 10;
        border-radius: 30px;
        /* max-width: 1000px; */
        height: 70px;
      }
      #reserve{
        text-decoration: none;
        color: white;
        background-color: rgb(24, 23, 23);
        /* padding: 8px 14px; */
        border-radius: 10px;
        transition: 0.3s ease;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      #reserve:hover{
        background-color: white;
        color: black;
        transition: 0.5s;
      }
      #clock{
        position:absolute;
        bottom: 13.8px;
        left: 29.5%;
    
        color: rgb(117, 116, 116);
        padding: 10px;
        border-radius: 50%;
        font-size: 28px;
        cursor: pointer;
        z-index: 2001;
      }
      ul{
        display: flex;
        justify-content: space-between;
        gap:10px;
        padding: 0;
        list-style: none;
        align-items: center;
        padding: 10px;
        margin: 0;
      }
       li a{
        text-decoration: none;
        color:lightgray;   
        /* padding: 8px 14px; */
        border-radius: 1px;
        transition: 0.3s ease;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      li a:hover{
        color: gray;
      }

}