.reviews-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #000000;
    

  }
  .reviews-section h2{
    color: white;
    position: relative;
    top: 200px;
    font-size: 50px;
  }
  .ankole-logo{
    position: absolute;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    height: 200px;
    z-index: 10;
    width: 200px;
      }
  .review-carousel {
    position: relative;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    top: 200px;
  }
  
  .review {
    display: none;
    font-size: 1.4rem;
    padding: 20px;
  }
  
  .review.active {
    display: block;
  }
  
  .quote {
    font-style: italic;
    color: #fffafa;
  }
  
  .author {
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
  }
  
  .prev {
    left: 360px
  }
  
  .next {
    right: 420px;
  }
  body{
      background-color: #000000;
  }
  #icon4{
      color: orangered;
      position: relative;
      top:350px;
      left: 20%;
      font-size: 50px;
  }
  #icon3{
      color: orangered;
      position: relative;
      top:580px;
      left: 70%;
      font-size: 50px;
   
  }

  
  /* Responsive */
  @media (max-width: 480px) {
    .review-carousel {
      max-width: 100%;
      width: 100%;
   

    }
    #icon4{
        top: 200px;
        left: 10px;
    }
    #icon3{
        top:700px;
    }
    .review-carousel{
        top:50px;
    }
  
    .quote {
      font-size: 1.5rem;
    }
    .author{
        font-size: 1rem;
    }
  
    .prev, .next {
      font-size: 1.2rem;
      padding: 8px 12px;
    }
  }

  @media (max-width: 1024px) {
    .ankole-logo{
      width: 100px;
      height: 100px;
    }
    .banner-text h1{
      font-size: 35px;
    }
    .whatsapp-icon{
      position: absolute;
      right: 10px;
      bottom: 0;
      color: rgb(255, 255, 255);
      font-size: 60px;
      color: rgb(2, 2, 2);
   
    }
    .reviews-section h2{
      color: white;
      position: relative;
      top: 100px;
      font-size: 50px;
    }
    #icon3{
      display: none;
    }
    .prev, .next{
      display: none;
    }
    

  }
  .navlink{
    position: relative;
    top:15px
  }
  nav i{
    position: relative;
    top:15px
  }
  
  header{
    position: fixed;
    bottom: 5%;
    width: 43%;
    background-color: rgb(24, 23, 23);
    border-radius: 40px;
    margin: 0 25%; 
    z-index: 1;
    height: 80px;
    justify-content: right;
    align-items: left;
  
    nav {
        display: flex;
        align-items: center;
        gap:14px;
        width: 100%;
  
  
        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
            padding: 15px;
            font-weight: bolder;
            font-size: 17px;
        }
  
        a:last-child {
            background-color: gray;
            border-radius: 50px;
        }
  
        a:last-child:hover {
            background-color: white;
            color: black;
        }
  
        a:hover {
            color: gray;
        }
  
        i {
            color: gray;
            padding: 15px;
            font-size: 20px;
            position: relative;
            cursor: pointer;
        }
  
        .menu-toggle{
            position: relative;
            display: inline-block;
  
            .vertical-menu {
                display: none;
                position: absolute;
                bottom: 4em;
                left: 0;
                width: 14em;
                background-color: black;
                color: white;
                padding: 0.5em 1em;
                border-radius: 20px;
                z-index: 1;
                text-align: start;
        
                a {
                    border-bottom: 1px solid gray;
                    display: block;
                    text-decoration: none;
                    padding: 0.75em 1em;
                }
        
                a:last-child {
                    background-color: unset;
                    border-radius: unset;
                }
        
                a:last-child:hover {
                    color: gray;
                }
            }
  
            .vertical-menu.show{
                display: block;
            }
        }
  
        
  
    }
  
  }
  #menu{
    text-decoration: none;
    color: white;
    background-color: rgb(29, 28, 28);
    /* padding: 8px 14px; */
    transition: 0.3s ease;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
  }
  #menu:hover{
    color: gray;
  }
  
  

  @media  screen and (max-width: 700px)  {


    header{
        width: 80%;
        margin: 0 10%;
        bottom: 0;
    }
    header nav a:not(:last-child){
        display: none;
    }
    .icons{
      display: flex;
      flex-direction: column;
      gap: 5px;
  
    }
  
  
  }
  @media only screen and (max-width:1350px) and (min-width:751px){
    header{
      margin-left: 0;
      gap:0px;
      justify-content: start;
  
    }
    .icons{
      display: flex;
      flex-direction: column;
  
    }
    header{
      position: fixed;
      bottom: 5%;
      width: 95%;
      background-color: rgb(22, 22, 22);
      border-radius: 40px;
      margin: 0 1%; 
      z-index: 1;
      height: 80px;
  
    
      nav {
          display: flex;
          align-items: center;
          gap:1px;
          width: 100%;
    
    
          a {
              text-decoration: none;
              color: white;
              cursor: pointer;
              padding: 15px;
              font-weight: bolder;
              font-size: 17px;
          }
        }
  }
  }
  
  